<p>todo-list works!</p>
<!-- Kullanıcının todo girebileceği bir form, altında todoların listelenmesi, her todonun 1. 2. diye sıralanması -->
<!-- Sonunda (X) ikonu ile listeden kaldırılabilmesi -->
<!-- Ekleme esnasında aynı todo mevcutsa (frontend kontrolü) eklemeyip inputu temizlesin.  -->
<!-- Her ekleme sonrası input temizlensin. -->
<!-- Bireysel -->

<div>
  <h2>Add a todo:</h2>
  <input type="text" [(ngModel)]="todoInput" placeholder="Add a new todo" />
  <input
    class="save-btn"
    type="button"
    value="Save"
    (click)="addTodos(newTodo)"
  />
  <button (click)="updateTodo(todo)">Update</button>
  <button (click)="deleteTodo(id)">Delete</button>

  <h3>Todo List:</h3>
  <ul>
    @for(todoInput of todoListFromBackend; track todoInput; let i = $index){
    <app-todo-card
      [toDoFromOtherPage]="todoInput.title"
      (onRemoveClick)="removeFromList($event)"
    />

    }
  </ul>
</div>
